@model FooterVM
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="/img/logo/SahiplendirFooterLogo.png" alt=""></a>
                    </div>
                    <p>Türkiye'nin online olarak hizmet veren en büyük petshop mağazası olma gururunu taşıyoruz! </p>
                    <a href="#"><img src="/img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-2 col-sm-4">
                <div class="footer__widget">
                    <h6>Kategoriler</h6>
                    @foreach (Category c in Model.Categories)
                    {<ul><li><a href="">@c.Name</a></li></ul>}
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <div class="footer__widget">
                    <h6>Bize Ulaşın</h6>
                    <ul>
                        <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                        <li><a href="#">Müşteri Hizmetleri</a></li>
                        <li><a href="#">Sipariş Takibi</a></li>
                        <li><a href="#">Sıkça Sorulan Sorular</a></li>
                        <li><a href="#">Gizlilik ve Güvenlik</a></li>
                        <li><a href="#">Garanti ve İade Koşulları</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>BÜLTENİMİZE KAYIT OLUN</h6>
                    <div class="footer__newslatter">
                        <p></p>
                        <form action="#">
                            <input type="text" placeholder="Mail Adresiniz">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>
                        <script>
                        </script>Bu site MuhammetErtem® Tarafından Gelişmiş E-Ticaret sistemleri ile hazırlanmıştır. <i></i><a></a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Arama">
        </form>
    </div>
</div>
<!-- Search End -->
<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
