@model HeaderVM
@{

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top" style="color: #ffffff; background-color: #212529">
            <div class="container">
                <div class="col-6 col-md-6">
                    <div class="col-md-auto">
                        <div class="header__top__left">
                            <p>Ücretsiz Kargo, 30 Gün İade Garantisi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo/Plogo3.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-auto">
                    <nav class="header__menu mobile-menu">
                        @*<ul>

                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./about.html">About Us</a></li>
                                        <li><a href="./shop-details.html">Shop Details</a></li>
                                        <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                        <li><a asp-controller="Contact" asp-action="Index">Check Out</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                               
                            </ul>*@
                        <ul>
                            @foreach (Category c in Model.Categories)
                            {
                                <li >
                                    <a href="#">
                                        @c.Name
                                    </a>

                                    <div class="dropdown">
                                        @foreach (var s in c.SubCategories)
                                        {
                                            <a class="dropdown-item" style="font-size: 14px; background-color: #212529; color: #fff; font-weight: 400; padding: 5px 20px; text-transform: capitalize; text-decoration: none; background-color: transparent; white-space: pre-wrap; " asp-route="SubCategory" asp-route-name="@GeneralTool.ConvertURL(s.Name)" asp-route-id="@s.ID">@s.Name</a>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <div class="col">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                        <a class="dropdown-menu"><img src="/img/icon/user1.png" alt=""></a>
                        <a asp-controller="Cart" asp-action="Index"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">0.00 ₺</div>
                    </div>

                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->


}

