@model ContactVM
  <!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6022.487536986624!2d29.12190812676805!3d40.99803741720686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8afb819801b%3A0x302c3ee2deaffb4f!2zS2FkxLFrw7Z5IEJlbGVkaXllc2kgSGF5dmFuIEJhcsSxbmHEn8SxLCAzNDc3NCDDnG1yYW5peWUvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1648190215148!5m2!1str!2str" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<!-- Map End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span></span>
                        <h2>Bize Ulaşın</h2>
                        <p>
                            Ürün ve hizmetlerimizi gerçekleştirebilmemiz için görüş ve önerileriniz bizim için son derece önemlidir. Görüş ve önerileriniz en kısa zamanda değerlendirilecek ve sonucu hakkında size mutlaka geri dönülecektir.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>Türkiye</h4>
                            <p>Turgut Özal Bulvarı, TEM Otoyolu Sonu, Ataşehir<br />(0216) 415 67 61</p>
                            <p>info@sahiplendir.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form  class="contact__form" asp-controller="Contact" asp-action="Index">
                        <div class="row">
                            <div class="col-lg-6">
                                <input asp-for="@Model.Contact.NameSurname" placeholder="Adı Soyadı">
                            </div>
                            <div class="col-lg-6">
                                <input asp-for="@Model.Contact.MailAddress" placeholder="Mail Adresi">
                            </div>
                            <div class="col-lg-12">
                                <textarea asp-for="@Model.Contact.Message" placeholder="Mesajınız"></textarea>
                                <button type="submit" class="site-btn">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->