@model AnimalVM
   <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>SAHİPLEN</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @foreach (Animal a in Model.ListAnimal)
                    {
            <partial name="_AnimalBoxPartial" model="@a"></partial>}
                </div>

                @Html.PagedListPager((IPagedList)Model.ListAnimal, page => Url.Action("Index", new { page }), HomeExtensions.PagedListRenderOptions)
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->