@model Comment


<div class="blog__details__btns">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a class="blog__details__btns__item" style="margin-bottom: -15px;">
                <p>
                    <div class="blog__details__author">
                        <div class="blog__details__author__pic">
                            <img src="/img/blog/User.png" alt="">
                        </div>
                        <div class="blog__details__author__text">
                            <h5>@Model.NameSurname</h5>
                        </div>
                    </div>
                </p>
                <h5>@Model.Commentary</h5>
            </a>
        </div>
    </div>
</div>