@model BlogVM
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="img/blog/BlogIndex.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            @foreach (Blog b in Model.ListBlog)
            {
    <partial name="_BlogBoxPartial" model="@b"></partial>            }
        </div>
        @Html.PagedListPager((IPagedList)Model.ListBlog, page => Url.Action("Index", new { page }), HomeExtensions.PagedListRenderOptions)
    </div>
</section>
<!-- Blog Section End -->
